/* ======================= Music Player ======================= */
/* Секцията управлява визуализацията и стиловете на музикалния плеър */

/* ---------- Основен контейнер на плеъра ---------- */
#music-player {
  position: fixed;                  /* Плеърът е фиксиран на прозореца */
  top: 0;                           /* Поставен в горната част на екрана */
  left: 0;                          /* Отляво */
  width: 100%;                       /* Занимава цялата ширина */
  background: rgba(0,0,0,0.90);      /* Фон от дефинираната CSS променлива за лентата на менюто*/
  box-shadow: var(--box-shadow);     /* Сенки от CSS променлива */
  color: white;                      /* Текстът е бял */
  height: 75px;                      /* Височина на плеъра */
  display: flex;                     /* Flexbox подредба */
  align-items: center;               /* Вертикално центриране на елементите */
  gap: var(--box-gap);                         /* Разстояние между бутоните и текста */
  padding: 0 15px;                   /* Вътрешни отстояния отстрани */
  z-index: 10;                    /* Най-отгоре над всички елементи */
}

/* ---------- Бутоните на плеъра ---------- */
#music-player button {
  background: var(--card-bg);        /* Същият фон като плеъра */
  box-shadow: var(--box-shadow);     /* Сенки за 3D ефект */
  border: none;                      /* Без рамка */
  color: white;                      /* Бял текст/икони */
  padding: 16px 20px;                /* Вътрешни отстояния за големина */
  font-size: 18px;                   /* Размер на текста/иконата */
  cursor: pointer;                   /* Промяна на курсора при задържане */
  border-radius: 6px;                /* Заоблени ъгли */
}

/* ---------- Hover ефект за бутоните ---------- */
#music-player button:hover {
  background: var(--card-bg-hover);  /* Промяна на фона при задържане */
}

/* ---------- Текуща песен / заглавие ---------- */
#track-title {
  font-size: 16px;                   /* Размер на текста на песента */
  font-weight: 600;                  /* Полу-дебел шрифт за по-ясно виждане */
}
